In [1]:
import pandas as pd
import numpy as np
import operator
from collections import defaultdict

In [2]:
df = pd.read_csv(open('../data/df_million.csv'), low_memory=False)
df = df[df['text'].str.contains("00leave")== False]
df = df.dropna(axis=0)
df = df.drop('Unnamed: 0', 1)
print('æœ‰{}ç­†å°è©±'.format(len(df)))

æœ‰999961ç­†å°è©±

In [3]:
df.count()

from    999961
to      999961
text    999961
room    999961
time    999961
dtype: int64

In [4]:
df = df.reset_index(drop=True)

In [5]:
df.head()

,from,to,text,room,time
0,ud4097fbb4471c8c54512814bf0182e03,u84fa1e46e99df373e0f978c2ba274f9a,wd,8aee77a7-1d90-4d0f-b3c3-3f7b94a90e36,1.471640e+12
1,ud4097fbb4471c8c54512814bf0182e03,u96e826dccd3c9db56d684a5ddffc3154,å—¨å—¨,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12
2,u96e826dccd3c9db56d684a5ddffc3154,ud4097fbb4471c8c54512814bf0182e03,è›¤ï¼Ÿ,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12
3,ud4097fbb4471c8c54512814bf0182e03,u96e826dccd3c9db56d684a5ddffc3154,ä½ æ˜¯ç¬¬äºŒå€‹ä½¿ç”¨è€…ï¼±ï¼±,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12
4,u96e826dccd3c9db56d684a5ddffc3154,ud4097fbb4471c8c54512814bf0182e03,å“ˆå“ˆå“ˆå“ˆå“ˆå“ˆå“ˆ,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12

## Groupby by 'from' column

In [6]:
grouped_data = df.groupby('from')['text'].apply(list).reset_index()
print('have {} users'.format(len(grouped_data)))

have 12691 users

In [7]:
# df.loc[df['from'] == 'ud4097fbb4471c8c54512814bf0182e03']

In [8]:
grouped_data.head()
# type(grouped_data.text[0])

               from                                               text
0  1000080793444348  [å—¨å—¨, å®‰å®‰, å¹¾æ­²å‘¢, æˆ‘ä¹Ÿæ˜¯, ğŸ˜‚ğŸ˜‚, æˆ‘ç”·ç”Ÿ, å—¨å—¨, æˆ‘ç”·ç”ŸğŸ˜‚ğŸ˜‚, å—¨å—¨, æ¬¸æ¬¸ä¸...
1  1000309370066644  [å“ˆå“ˆå“ˆå“ˆå“ˆå¥½é…·å“¦, ä½ å¥½, åª½å¦³åœ¨å“ª, çŸ®é¡, å—¨, è¦ºå¾—é…·, å“ˆå“ˆå“ˆå“ˆ, æˆ‘åœ¨ä¸Š, ç”Ÿç‰©...
2  1000515923404164  [å®‰å®‰, çœ‹dcard çš„, çœŸå‡, é«˜ä¸­ç”ŸğŸ˜‚ğŸ˜‚, ä½ å¤§å¹¾ï¼Ÿ, å¥³ç”ŸğŸ˜‚ğŸ˜‚, å—¨, å—¨, å“ˆå“ˆ...
3  1000617956728437  [Hi, ä½ å¥½, æ”¾å‡å›‰, æˆ‘ç•¢æ¥­ä¸€æ®µæ™‚é–“äº†ğŸ˜‚, Yup, çœ‹å®Œè¦ºå¾—æœ‰è¶£, å°å•Šã€‚\nä¸éæˆ‘...
4  1000669336711180  [å“ˆå›‰, å‰›å‰›åœ¨Dcardçœ‹åˆ°çš„, å¥½é…·å“¦, æ˜¯å•Šä¸æ˜¯åªæœ‰å¤§å­¸, æ‰æœ‰Dcard, æˆ‘ç¾åœ¨åœ¨...

In [9]:
print('idç‚º {} çš„ä½¿ç”¨è€…å‚³é€çš„è¨Šæ¯ ï¼š{}'.format(grouped_data.iloc[0][0],grouped_data.iloc[0][1]))

idç‚º 1000080793444348 çš„ä½¿ç”¨è€…å‚³é€çš„è¨Šæ¯ ï¼š['å—¨å—¨', 'å®‰å®‰', 'å¹¾æ­²å‘¢', 'æˆ‘ä¹Ÿæ˜¯', 'ğŸ˜‚ğŸ˜‚', 'æˆ‘ç”·ç”Ÿ', 'å—¨å—¨', 'æˆ‘ç”·ç”ŸğŸ˜‚ğŸ˜‚', 'å—¨å—¨', 'æ¬¸æ¬¸ä¸åœ¨å—ï¼Ÿ', 'å—¨å—¨', 'ï¼Ÿï¼Ÿ', 'å®‰å®‰', 'ç”·17', 'å–”å–”ok', 'ğŸ˜‚ğŸ˜‚', 'å—¯å—¯', 'å°', 'å“ˆå“ˆğŸ˜‚ğŸ˜‚', 'ä¸€æ¨£å§', 'å“ªè£¡äººå‘€ï¼Ÿ', 'å“‡å—šå”¯ä¸€ä¸é æµ·', 'å—¨å—¨', 'æˆ‘é«˜äºŒç”·ç”Ÿå–”ğŸ˜‚ğŸ˜‚', 'å“ˆå“ˆ', 'æ°æ°', 'å—¨å—¨', 'æœ‰äººå—ï¼Ÿ', 'å—¨å—¨', 'å—¨å—¨', 'ä»€éº¼ï¼Ÿï¼Ÿ', 'ğŸ˜‚ğŸ˜‚', 'æˆ‘é«˜äºŒç”·ç”Ÿ@@', 'ä¸å¥½ç©', 'æ›äº†ç­æ›äº†äºº', 'äºŒé¡', 'XD', 'æ€éº¼ï¼Ÿï¼Ÿ', 'éä¾†äººï¼Ÿ', 'æˆ‘é‚„æœ‰é ­é«®çš„', 'ğŸ˜ƒğŸ˜ƒ', 'å™—ã„˜', 'ä¸æ˜¯å’Œå°šå•¦', 'ä¸æ˜¯', 'å—¨å—¨', 'å®‰å®‰', 'é«˜äºŒç”·ç”Ÿå–”ğŸ˜‚ğŸ˜‚', 'å“ˆå“ˆ', 'é‚£æ°æ°', 'è‡ªå·±èªª', 'å™—ã„˜', 'æ°æ°', 'ï¼Ÿï¼Ÿ', 'æ¬¸æ¬¸ï¼Ÿ', 'å®‰å®‰', 'é«˜äºŒç”·ç”Ÿå–”ğŸ˜‚ğŸ˜‚', 'â€¦â€¦', 'å¥½å–”', 'å—¨å—¨', 'ä½ å¥½', 'æˆ‘æ˜¯ç”·ç”Ÿ', 'å•Šå•Šå¥½å·§å–”', 'XD', 'æ¬¸æ¬¸ï¼Ÿ', 'ğŸ˜¶ğŸ˜¶ğŸ˜¶', 'ï¼Ÿ', 'å—¯å—¯', 'åŠ æ²¹', 'å—¨å—¨', 'é‚£æ°æ°å§ğŸ˜‚', 'å—¨å—¨', 'å—¨å—¨', 'ç”·ç”ŸğŸ˜¶', 'æˆ‘ï¼Ÿ', 'æˆ‘èªªæˆ‘ç”·ç”Ÿ', 'å—¨å—¨', 'æˆ‘ç”·ç”ŸğŸ˜¶', 'è¦ºå¾—é€™è£¡æœ‰é»åƒwooäº†ğŸ˜‚ğŸ˜‚', 'Wootalké˜¿è·Ÿé€™å€‹å·®ä¸å¤š', 'ä¸éè£¡é¢æœ‰90%çš„æ©Ÿç‡æ˜¯ç”·çš„', 'å¥½ç„¡èŠ']

## set stop word

In [10]:
import jieba
import jieba.posseg as pseg
import jieba.analyse

stopwordset = set()
with open('jieba_txt/stop_words.txt','r',encoding='utf-8') as sw:
    for line in sw:
        stopwordset.add(line.strip('\n'))
        
chars = set(' abcdefghijklmnopqrstuvwxyz0123456789()?@ï¼Ÿ!$,~:.ã€‚ï¼Œ-_&=/ô€†¿\r\n')
for c in chars:
    stopwordset.add(c)

In [11]:
# stopwordset

## è¼‰å…¥åˆ†è©æª”åšè¨“ç·´

In [12]:
from gensim import models
import gensim
sentences = models.word2vec.LineSentence("corpusSegDone.txt")
model = models.word2vec.Word2Vec(sentences, size=1, window=5, min_count=5, workers=1)

In [13]:
length = len(grouped_data)
length

12691

In [14]:
top10_vector = np.zeros(shape=(length,10))
jieba.set_dictionary('jieba_txt/dict.txt.big.txt')
jieba.load_userdict("jieba_txt/userdict.txt")
for i in range(length):
    frequency = defaultdict(int)
    for j in range(len(grouped_data.iloc[i][1])):
        seglist = jieba.cut((grouped_data.iloc[i][1])[j])
        texts = [word for word in seglist if word not in stopwordset]
        for text in texts:
            frequency[text] += 1
    a = sorted(frequency.items(), key=operator.itemgetter(1),reverse=True)
#     print(a)
    row = np.zeros(shape=(1,10))
    
    r = 10 if len(a) >= 10 else len(a)
    for x in range(r):
        if a[x][0] in model:
            show = float(model[a[x][0]])
            row[0][x] = show
    top10_vector[i] = row

Building prefix dict from /home/tp6han/gp_new/jieba_txt/dict.txt.big.txt ...
Loading model from cache /tmp/jieba.u0ddb98113e9461fac3a7658d9e24e45e.cache
Loading model cost 1.506 seconds.
Prefix dict has been built succesfully.

In [15]:
top10_vector.shape

(12691, 10)

In [16]:
model.corpus_count

137045

# k-means clustering

In [17]:
from sklearn import cluster, datasets

# KMeans æ¼”ç®—æ³•
kmeans_fit = cluster.KMeans(n_clusters = 3,random_state=1170).fit(top10_vector)

# å°å‡ºåˆ†ç¾¤çµæœ
cluster_labels = kmeans_fit.labels_
print("åˆ†ç¾¤çµæœ å‰10ï¼š")
print(cluster_labels[:10])
print("---")

åˆ†ç¾¤çµæœ å‰10ï¼š
[1 2 2 2 1 1 2 1 1 2]
---

In [18]:
len(cluster_labels)

12691

In [19]:
unique, counts = np.unique(cluster_labels, return_counts=True)
dict(zip(unique, counts))

{0: 2442, 1: 6220, 2: 4029}

In [20]:
cluster_done = grouped_data
cluster_done['category'] = cluster_labels

In [21]:
cluster_done = cluster_done.sort_values(by='category')
# t = t.drop('from',1)

In [22]:
cluster_done = cluster_done.reset_index(drop=True)
cluster_done.head()

                                from                       text  category
0  uffe07f79a7737e6f734bcbd67c264d63  [å“ˆå›‰, ï¼Ÿ, ä»€éº¼å•Š, å—¨å’¿, ï¼Ÿ, èªªä»€éº¼ï¼Ÿ]         0
1                    971466416314924              [å—¨, å“ˆå›‰å“ˆå›‰, å—¨ï½]         0
2                   1136367929790440                   [çœŸäºº, ä¸Šèª²]         0
3                    971001479688980                        [å®‰]         0
4                   1136634969718180              [hi, ç´„å€‹é›•, 88]         0

In [23]:
cluster_done.count()
# small_clustered = cluster_done[6000:6300].reset_index(drop=True)

from        12691
text        12691
category    12691
dtype: int64

## make dictionary = { from : category }

In [24]:
from_category = {}
for i, row in cluster_done.iterrows():
    from_category[row['from']] = row['category']

In [25]:
len(from_category)

12691

In [26]:
from_category['u96e826dccd3c9db56d684a5ddffc3154']

1

## groupby room

In [27]:
df2 = df.copy()
df2 = df2.drop(['time','to'], axis=1)

In [28]:
df2['category'] = df2['from'].map(from_category)

In [29]:
df2.head()
df2 = df2.dropna(axis=0)
df2.count()

from        999961
text        999961
room        999961
category    999961
dtype: int64

In [30]:
df2.head()

,from,text,room,category
0,ud4097fbb4471c8c54512814bf0182e03,wd,8aee77a7-1d90-4d0f-b3c3-3f7b94a90e36,1
1,ud4097fbb4471c8c54512814bf0182e03,å—¨å—¨,fe214cfc-22d1-4736-92e7-d133190142b8,1
2,u96e826dccd3c9db56d684a5ddffc3154,è›¤ï¼Ÿ,fe214cfc-22d1-4736-92e7-d133190142b8,1
3,ud4097fbb4471c8c54512814bf0182e03,ä½ æ˜¯ç¬¬äºŒå€‹ä½¿ç”¨è€…ï¼±ï¼±,fe214cfc-22d1-4736-92e7-d133190142b8,1
4,u96e826dccd3c9db56d684a5ddffc3154,å“ˆå“ˆå“ˆå“ˆå“ˆå“ˆå“ˆ,fe214cfc-22d1-4736-92e7-d133190142b8,1

In [84]:
p1 = df2.groupby('room')['from'].aggregate(lambda x: set(x)).reset_index()
p2 = df2.groupby('room')['category'].aggregate(lambda x: set(x)).reset_index()
c = df2.groupby('room')['text'].agg(['count']).reset_index()
t = df2.groupby('room')['text'].apply(list).reset_index()

In [32]:
print('have {} {} rooms'.format(len(p1),len(p2)))

have 39423 39423 rooms

## new df  group by room

In [85]:
room_grouped = pd.concat([p1,p2['category'],c['count'],t['text']],axis=1)

In [86]:
room_grouped.columns

Index(['room', 'from', 'category', 'count', 'text'], dtype='object')

In [87]:
room_grouped.head()

,room,from,category,count,text
0,0000d3d1-cd74-4c6a-8ab6-8c9c0df594aa,"{1313316695368083, u84ff3587ce973343ca6328d688...",{2},2,"[å—¨å—¨, è¯·é—®æœ‰äººå—]"
1,000129e0-e9c9-4e51-8b7a-b782d220894e,{1127853807261849},{1},1,[å®‰]
2,0002fc8b-0951-47b0-9348-bf7decae9d93,"{955305891265054, 966587086804396}","{1, 2}",6,"[å—¨, ä½ å¥½å–”, ä½ å¥½å–”~, ç”·ç”Ÿ, ä½ å‘¢, me too]"
3,000418d0-779f-469a-ad5b-7fcfd6da4959,"{ua725d2fbddf188fb2e97f67bbd36d056, 1084323831...",{1},26,"[ä½ å¥½, å—¨, å—¨, ç”·, å¥³, ä½å“ªå‘€?, é«˜é›„, å°ä¸­, é‚£å¤šå¤§, 18\nä½ å‘¢, 21..."
4,00054188-59bc-49cf-aea2-e8ddd7057849,"{1192735997454971, 1157361747619580}",{1},162,"[å¦³å¥½, ä½ å¥½å•Šé˜¿, çœŸå‡çš„, é€™çœŸçš„å¾ˆé…·, å‡çš„, è¿ªå¡ä¸Šçœ‹åˆ°çš„å—, å°å•Š, ä½ æ˜¯æˆ‘ç¬¬ä¸€å€‹..."

## delete the row (room) which has only one user

In [88]:
for index, row in room_grouped.iterrows():
    l = len(row['from'])
    if l == 1 :
        room_grouped.drop(index, inplace=True)

In [89]:
room_grouped.count()

room        30535
from        30535
category    30535
count       30535
text        30535
dtype: int64

In [90]:
room_grouped.head()

,room,from,category,count,text
0,0000d3d1-cd74-4c6a-8ab6-8c9c0df594aa,"{1313316695368083, u84ff3587ce973343ca6328d688...",{2},2,"[å—¨å—¨, è¯·é—®æœ‰äººå—]"
2,0002fc8b-0951-47b0-9348-bf7decae9d93,"{955305891265054, 966587086804396}","{1, 2}",6,"[å—¨, ä½ å¥½å–”, ä½ å¥½å–”~, ç”·ç”Ÿ, ä½ å‘¢, me too]"
3,000418d0-779f-469a-ad5b-7fcfd6da4959,"{ua725d2fbddf188fb2e97f67bbd36d056, 1084323831...",{1},26,"[ä½ å¥½, å—¨, å—¨, ç”·, å¥³, ä½å“ªå‘€?, é«˜é›„, å°ä¸­, é‚£å¤šå¤§, 18\nä½ å‘¢, 21..."
4,00054188-59bc-49cf-aea2-e8ddd7057849,"{1192735997454971, 1157361747619580}",{1},162,"[å¦³å¥½, ä½ å¥½å•Šé˜¿, çœŸå‡çš„, é€™çœŸçš„å¾ˆé…·, å‡çš„, è¿ªå¡ä¸Šçœ‹åˆ°çš„å—, å°å•Š, ä½ æ˜¯æˆ‘ç¬¬ä¸€å€‹..."
5,0005ce30-1ab7-4b4f-8861-684a88e4f94b,"{1020089304775462, 954276064700164}",{1},175,"[æˆ‘ä¸çµ¦ã„©, æˆ‘ä¹Ÿæ²’ã„©ä½ å•Š, åˆ°è™•éƒ½æ˜¯ä»€éº¼éœ¸ä¸»çš„, é‚£æ˜¯ä»€éº¼, æ™šä¸Šä¸€ç›´è½åˆ°, ä¸çŸ¥é“, æ„Ÿ..."

### æ¯é–“èŠå¤©å®¤å¹³å‡èŠå¹¾å¥

In [98]:
room_grouped['count'].mean()

32.296905190764697

# è­‰æ˜åˆ†ç¾¤æœ‰æ„ç¾©

## 1. åŒä¸€ç¾¤çš„ä½¿ç”¨è€…å¹³å‡èŠå¤©å¥æ•¸æ¯”ä¸åŒç¾¤çš„ä½¿ç”¨è€…å¹³å‡èŠå¤©å¥æ•¸é‚„å¤š

In [117]:
same_cat_count = 0
all_text = 0
other_user = 0
other_all_text = 0
for index, row in room_grouped.iterrows():
    l = len(row['category'])
    t_len = len(row['text'])
# same cluster
    if l == 1:
        same_cat_count+=1
        all_text+=t_len
# different cluster
    else:
        other_user+=1
        other_all_text+=t_len

In [118]:
print('åŒä¸€ç¾¤çš„ä½¿ç”¨è€…æœ‰ {} çµ„, å¹³å‡èŠå¤©å¥æ•¸ : {}'.format(same_cat_count,all_text/same_cat_count))
print('ä¸åŒç¾¤çš„ä½¿ç”¨è€…æœ‰ {} çµ„, å¹³å‡èŠå¤©å¥æ•¸ : {}'.format(other_user ,other_all_text/other_user))

åŒä¸€ç¾¤çš„ä½¿ç”¨è€…æœ‰ 18187 çµ„, å¹³å‡èŠå¤©å¥æ•¸ : 41.353164348160774
ä¸åŒç¾¤çš„ä½¿ç”¨è€…æœ‰ 12348 çµ„, å¹³å‡èŠå¤©å¥æ•¸ : 18.95821185617104

## 2. èŠå¤©å¥æ•¸è¶…é 1000 å¥çš„ä½¿ç”¨è€…ï¼ŒåŒç¾¤çš„æœ‰å¹¾çµ„

In [123]:
gt1000 = room_grouped[room_grouped['count']>1000]

In [124]:
gt1000_same_cat = 0
for i, row in temp.iterrows():
    l = len(row['category'])
    if l == 1:
        gt1000_same_cat+=1

In [125]:
print('å…±æœ‰ {} çµ„ï¼ŒåŒé¡çš„æœ‰ {} çµ„'.format(len(gt1000),gt1000_same_cat))

å…±æœ‰ 29 çµ„ï¼ŒåŒé¡çš„æœ‰ 26 çµ„

In [105]:
import matplotlib.pyplot as plt
%matplotlib inline

In [22]:
t.to_csv('../data/k_means_result.csv',encoding='utf-8-sig')