In [61]:
import pandas as pd
import numpy as np
import operator

In [62]:
df = pd.read_csv(open('../data/df_million.csv'), low_memory=False)
df = df[df['text'].str.contains("00leave")== False]
df = df.drop('Unnamed: 0', 1)
print('æœ‰{}ç­†å°è©±'.format(len(df)))

æœ‰1000000ç­†å°è©±

In [20]:
df.columns

Index(['from', 'to', 'text', 'room', 'time'], dtype='object')

In [21]:
df = df.reset_index(drop=True)

In [22]:
df.head()

,from,to,text,room,time
0,ud4097fbb4471c8c54512814bf0182e03,u84fa1e46e99df373e0f978c2ba274f9a,wd,8aee77a7-1d90-4d0f-b3c3-3f7b94a90e36,1.471640e+12
1,ud4097fbb4471c8c54512814bf0182e03,u96e826dccd3c9db56d684a5ddffc3154,å—¨å—¨,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12
2,u96e826dccd3c9db56d684a5ddffc3154,ud4097fbb4471c8c54512814bf0182e03,è›¤ï¼Ÿ,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12
3,ud4097fbb4471c8c54512814bf0182e03,u96e826dccd3c9db56d684a5ddffc3154,ä½ æ˜¯ç¬¬äºŒå€‹ä½¿ç”¨è€…ï¼±ï¼±,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12
4,u96e826dccd3c9db56d684a5ddffc3154,ud4097fbb4471c8c54512814bf0182e03,å“ˆå“ˆå“ˆå“ˆå“ˆå“ˆå“ˆ,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12

## Groupby by 'from' column

In [23]:
grouped_data = df.groupby('from')['text'].apply(list).reset_index()
len(grouped_data)

12691

In [28]:
grouped_data.head()
type(grouped_data.text[0])

list

In [9]:
print('idç‚º {} çš„ä½¿ç”¨è€…å‚³é€çš„è¨Šæ¯ ï¼š{}'.format(grouped_data.iloc[0][0],grouped_data.iloc[0][1]))

idç‚º 1000080793444348 çš„ä½¿ç”¨è€…å‚³é€çš„è¨Šæ¯ ï¼š['å—¨å—¨', 'å®‰å®‰', 'å¹¾æ­²å‘¢', 'æˆ‘ä¹Ÿæ˜¯', 'ğŸ˜‚ğŸ˜‚', 'æˆ‘ç”·ç”Ÿ', 'å—¨å—¨', 'æˆ‘ç”·ç”ŸğŸ˜‚ğŸ˜‚', 'å—¨å—¨', 'æ¬¸æ¬¸ä¸åœ¨å—ï¼Ÿ', 'å—¨å—¨', 'ï¼Ÿï¼Ÿ', 'å®‰å®‰', 'ç”·17', 'å–”å–”ok', 'ğŸ˜‚ğŸ˜‚', 'å—¯å—¯', 'å°', 'å“ˆå“ˆğŸ˜‚ğŸ˜‚', 'ä¸€æ¨£å§', 'å“ªè£¡äººå‘€ï¼Ÿ', 'å“‡å—šå”¯ä¸€ä¸é æµ·', 'å—¨å—¨', 'æˆ‘é«˜äºŒç”·ç”Ÿå–”ğŸ˜‚ğŸ˜‚', 'å“ˆå“ˆ', 'æ°æ°', 'å—¨å—¨', 'æœ‰äººå—ï¼Ÿ', 'å—¨å—¨', 'å—¨å—¨', 'ä»€éº¼ï¼Ÿï¼Ÿ', 'ğŸ˜‚ğŸ˜‚', 'æˆ‘é«˜äºŒç”·ç”Ÿ@@', 'ä¸å¥½ç©', 'æ›äº†ç­æ›äº†äºº', 'äºŒé¡', 'XD', 'æ€éº¼ï¼Ÿï¼Ÿ', 'éä¾†äººï¼Ÿ', 'æˆ‘é‚„æœ‰é ­é«®çš„', 'ğŸ˜ƒğŸ˜ƒ', 'å™—ã„˜', 'ä¸æ˜¯å’Œå°šå•¦', 'ä¸æ˜¯', 'å—¨å—¨', 'å®‰å®‰', 'é«˜äºŒç”·ç”Ÿå–”ğŸ˜‚ğŸ˜‚', 'å“ˆå“ˆ', 'é‚£æ°æ°', 'è‡ªå·±èªª', 'å™—ã„˜', 'æ°æ°', 'ï¼Ÿï¼Ÿ', 'æ¬¸æ¬¸ï¼Ÿ', 'å®‰å®‰', 'é«˜äºŒç”·ç”Ÿå–”ğŸ˜‚ğŸ˜‚', 'â€¦â€¦', 'å¥½å–”', 'å—¨å—¨', 'ä½ å¥½', 'æˆ‘æ˜¯ç”·ç”Ÿ', 'å•Šå•Šå¥½å·§å–”', 'XD', 'æ¬¸æ¬¸ï¼Ÿ', 'ğŸ˜¶ğŸ˜¶ğŸ˜¶', 'ï¼Ÿ', 'å—¯å—¯', 'åŠ æ²¹', 'å—¨å—¨', 'é‚£æ°æ°å§ğŸ˜‚', 'å—¨å—¨', 'å—¨å—¨', 'ç”·ç”ŸğŸ˜¶', 'æˆ‘ï¼Ÿ', 'æˆ‘èªªæˆ‘ç”·ç”Ÿ', 'å—¨å—¨', 'æˆ‘ç”·ç”ŸğŸ˜¶', 'è¦ºå¾—é€™è£¡æœ‰é»åƒwooäº†ğŸ˜‚ğŸ˜‚', 'Wootalké˜¿è·Ÿé€™å€‹å·®ä¸å¤š', 'ä¸éè£¡é¢æœ‰90%çš„æ©Ÿç‡æ˜¯ç”·çš„', 'å¥½ç„¡èŠ']

## set stop word

In [10]:
import jieba
import jieba.posseg as pseg
import jieba.analyse

jieba.set_dictionary('jieba_txt/dict.txt.big.txt')
jieba.load_userdict("jieba_txt/userdict.txt")
stopwordset = set()
with open('jieba_txt/stop_words.txt','r',encoding='utf-8') as sw:
    for line in sw:
        stopwordset.add(line.strip('\n'))
        
chars = set(' abcdefghijklmnopqrstuvwxyz0123456789()?@ï¼Ÿ!$,~:.ã€‚ï¼Œ-_&=/ô€†¿\r\n')
for c in chars:
    stopwordset.add(c)

Building prefix dict from /home/tp6han/gp_new/jieba_txt/dict.txt.big.txt ...
Loading model from cache /tmp/jieba.u0ddb98113e9461fac3a7658d9e24e45e.cache
Loading model cost 1.489 seconds.
Prefix dict has been built succesfully.

In [11]:
# stopwordset

In [12]:
from gensim import models
import gensim
sentences = models.word2vec.LineSentence("corpusSegDone.txt")
model = models.word2vec.Word2Vec(sentences, size=1, window=5, min_count=5, workers=1)

In [13]:
length = len(grouped_data)
length

12691

In [14]:
top10_vector = np.zeros(shape=(length,10))
jieba.set_dictionary('jieba_txt/dict.txt.big.txt')
jieba.load_userdict("jieba_txt/userdict.txt")
for i in range(l):
    frequency = defaultdict(int)
    for j in range(len(grouped_data.iloc[i][1])):
        seglist = jieba.cut((grouped_data.iloc[i][1])[j])
        texts = [word for word in seglist if word not in stopwordset]
        for text in texts:
            frequency[text] += 1
    a = sorted(frequency.items(), key=operator.itemgetter(1),reverse=True)
#     print(a)
    
    row = np.zeros(shape=(1,10))
    
    r = 10 if len(a) >= 10 else len(a)
    for x in range(r):
        if a[x][0] in model:
            show = float(model[a[x][0]])
            row[0][x] = show
    top10_vector[i] = row

Building prefix dict from /home/tp6han/gp_new/jieba_txt/dict.txt.big.txt ...
Loading model from cache /tmp/jieba.u0ddb98113e9461fac3a7658d9e24e45e.cache
Loading model cost 1.697 seconds.
Prefix dict has been built succesfully.

In [15]:
top10_vector.shape

(12691, 10)

# k-means clustering

In [16]:
from sklearn import cluster, datasets

# KMeans æ¼”ç®—æ³•
kmeans_fit = cluster.KMeans(n_clusters = 3,random_state=1170).fit(top10_vector)

# å°å‡ºåˆ†ç¾¤çµæœ
cluster_labels = kmeans_fit.labels_
print("åˆ†ç¾¤çµæœ å‰10ï¼š")
print(cluster_labels[:10])
print("---")

åˆ†ç¾¤çµæœ å‰10ï¼š
[0 2 2 2 0 2 2 0 0 2]
---

In [17]:
len(cluster_labels)

12691

In [18]:
unique, counts = np.unique(cluster_labels, return_counts=True)
dict(zip(unique, counts))

{0: 6029, 1: 2426, 2: 4236}

In [19]:
t = grouped_data
t['category'] = cluster_labels

In [20]:
t = t.sort_values(by='category')
# t = t.drop('from',1)

In [21]:
t = t.reset_index(drop=True)
t.head()

,from,text,category
0,1000080793444348,"[å—¨å—¨, å®‰å®‰, å¹¾æ­²å‘¢, æˆ‘ä¹Ÿæ˜¯, ğŸ˜‚ğŸ˜‚, æˆ‘ç”·ç”Ÿ, å—¨å—¨, æˆ‘ç”·ç”ŸğŸ˜‚ğŸ˜‚, å—¨å—¨, æ¬¸æ¬¸ä¸...",0
1,1198976930175446,"[Hi æ™šå®‰, é€™æ±è¥¿æ˜¯æ–°æµè¡Œçš„å—, å‰›åœ¨è¿ªå¡ä¸Šçœ‹åˆ°, å“ˆå“ˆå“ˆ é–‹ç™¼è€…é‚„æœ‰åœ¨ä¸‹é¢ç•™è¨€ è¶…é…·,...",0
2,961303467312994,"[å—¨, æœ‰äººå—, å—¨, çœŸçš„æœ‰äººå“¦ğŸ˜‚, è®“æˆ‘çŒœçŒœ, ä½ æ˜¯å¥³ç”Ÿå—, ğŸ˜³, æ˜¯é‚„æ˜¯ä¸æ˜¯, å¥½å•Š,...",0
3,961304217331916,"[å—¨, å—¨, ç¬¬ä¸€æ¬¡ç”¨é€™å€‹, å—¨, å‰›å‰›ç”¨é€™å€‹ å¥½åƒæœ‰é»è¤‡é›œ, æ„Ÿè¦ºè¨Šæ¯æœ‰é»æ…¢æ…¢çš„, å–” é‚„...",0
4,1198852076843853,"[å—¨, å‘ƒ, æˆ‘ä¸çŸ¥é“, æˆ‘æ­£æƒ³å•ä½ , ğŸ˜…, å°å•Šï¼ä»Šå¤©çœ‹åˆ°çš„ğŸ˜³, æˆ‘ä¹Ÿæ˜¯, ä½ ä¹Ÿæ˜¯?, å“ˆ...",0

In [22]:
t.to_csv('../data/k_means_result.csv',encoding='utf-8-sig')

In [23]:
aaa = t.drop('from',1)
aaa = aaa.groupby('category')
# aaa

In [24]:
aaa = aaa.agg({'text': 'sum'})

### todo
* æ²’è¬›éè¶…éå¹¾å¥è©±çš„ä¸ç´å…¥è¨ˆç®— ex: æŸä½¿ç”¨è€…è¬›ä¸è¶…é10å¥ å°±åˆª
* user è¬›å¹¾å¥è©±çš„é•·æ¢åœ–
* åŒä¸€é¡çš„ä½¿ç”¨è€…å°è©±çš„æ¯”æ•¸æ˜¯å¦é«˜æ–¼å…¶ä»–ä¸åŒç´¯é¡çš„äººèŠå¤©

In [63]:
lll = df.groupby('from')['text'].agg(['count']).reset_index()

In [64]:
lll[:3]
lll['count'].head()

0    81
1    40
2    15
3    16
4    60
Name: count, dtype: int64

In [72]:
n = pd.concat([df, lll['count']], axis=1)

In [85]:
n[n['count']>30].head()

,from,to,text,room,time,count
0,ud4097fbb4471c8c54512814bf0182e03,u84fa1e46e99df373e0f978c2ba274f9a,wd,8aee77a7-1d90-4d0f-b3c3-3f7b94a90e36,1.471640e+12,81.0
1,ud4097fbb4471c8c54512814bf0182e03,u96e826dccd3c9db56d684a5ddffc3154,å—¨å—¨,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12,40.0
4,u96e826dccd3c9db56d684a5ddffc3154,ud4097fbb4471c8c54512814bf0182e03,å“ˆå“ˆå“ˆå“ˆå“ˆå“ˆå“ˆ,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12,60.0
5,u96e826dccd3c9db56d684a5ddffc3154,ud4097fbb4471c8c54512814bf0182e03,é€™æ˜¯é™å®šç‰ˆå—,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12,329.0
6,ud4097fbb4471c8c54512814bf0182e03,u96e826dccd3c9db56d684a5ddffc3154,ä»€éº¼é™å®šç‰ˆï¼Ÿ,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12,82.0

In [86]:
q = df.groupby('room')['text'].agg(['count']).reset_index()
q.columns = ['room', 'room_dialog_count']
len(q)

39423

In [87]:
q.head()

                                   room  room_dialog_count
0  0000d3d1-cd74-4c6a-8ab6-8c9c0df594aa                  2
1  000129e0-e9c9-4e51-8b7a-b782d220894e                  1
2  0002fc8b-0951-47b0-9348-bf7decae9d93                  6
3  000418d0-779f-469a-ad5b-7fcfd6da4959                 26
4  00054188-59bc-49cf-aea2-e8ddd7057849                162

In [91]:
q.room_dialog_count.mean()

25.364913882758795