In [3]:
import pandas as pd
import numpy as np
import operator
from collections import defaultdict

In [4]:
df = pd.read_csv(open('../data/df2_million.csv'), low_memory=False)
df = df[df['text'].str.contains("00leave")== False]

df = df.dropna(axis=0)
df = df.drop('Unnamed: 0', 1)
print('æœ‰{}ç­†å°è©±'.format(len(df)))

æœ‰999980ç­†å°è©±

In [28]:
df = df[df['text'].str.contains("00add")== False]

In [29]:
df.count()

from    980613
to      980613
text    980613
room    980613
time    980613
dtype: int64

In [31]:
df = df.reset_index(drop=True)

In [32]:
df.head()

,from,to,text,room,time
0,962761420519280,1203470409728349,æˆ‘æ˜å¤©å¿«æ»¿å ‚,30412dbe-bec7-4158-a607-91a22ef30e7f,1.474971e+12
1,1099645570121970,1098086130277625,çœŸçš„,1f1b022f-3201-4e91-93d2-c29290f6de14,1.474971e+12
2,1200796473326885,824810620954251,å“ˆå“ˆå“ˆå“ˆå“ˆå“ˆå“ˆå“ˆå“ˆå“ˆ,7c270335-4250-40dd-9c09-a50f641aa84a,1.474971e+12
3,1266237863406753,1119017804854401,ä¸€æ¨£å–”,6d6f6da5-f2f0-421e-8c12-e09088736373,1.474971e+12
4,1185976538142459,1187173851355534,å°åŒ—å“ªé˜¿,1c06456d-ff4c-4fda-8417-6e667cd50b92,1.474971e+12

## Groupby by 'from' column

In [33]:
grouped_data = df.groupby('from')['text'].apply(list).reset_index()
print('have {} users'.format(len(grouped_data)))

have 5402 users

In [9]:
# df.loc[df['from'] == 'ud4097fbb4471c8c54512814bf0182e03']

In [34]:
grouped_data.head()
# type(grouped_data.text[0])

               from                                               text
0  1000309370066644  [å˜¿, å“ˆå“ˆ, çˆ½è³ºä¸€å¤©å‡, ä½ æ²’æ”¾å“¦, é¡çœŸå‡, ç‚ºä»€éº¼, å“ˆå“ˆå“ˆå“ˆå“ˆ, ä¸ä¸€æ¨£å•¦, æˆ‘æ‰...
1  1000515923404164  [æ»‘fb ğŸ˜‚, å°å•Šå“ˆå“ˆå“ˆ, å—¨, ï¼Ÿ, ä½ æ˜¯å¥³ç”Ÿï¼Ÿ, å“ˆå“ˆå“ˆ, æˆ‘çµ‚æ–¼é‡åˆ°ä¸€å€‹ç”·çš„äº†, å¹¾...
2  1001006620012161  [æŒ– æ¯”æˆ‘é‚„æ…˜é˜¿..., ä½ é‚„åœ¨è®€æ›¸å—, å¿«æ‹¿è† æ°´å»æŠŠå®ƒé»èµ·ä¾†å“ˆ, é«˜ä¸­..., ä½ å¤§å¹¾é˜¿,...
3  1001093176683887  [å—šå•Š, å“©è³€, å“ˆå“ˆ, å—¨, æ€éº¼èªª, æ˜Ÿåº§ç”·, å“ˆå“ˆ, æ€æ¨£æ˜Ÿåº§ç”·, é‚£æˆ‘ä¸å°±æ˜¯å°„æ‰‹ç”·,...
4  1003346503122174  [å“ˆå“ˆå“ˆ~, çœŸå¥½  ä¸€å€‹é¢±é¢¨å‡ æˆ‘ä¹Ÿæƒ³ä¼‘æ¯ ï¼Œå¯ä»¥æˆ‘å¾æ—©å¿™åˆ°æ™šå‘€, ä½œæ¨ç”„è³‡æ–™å‘€, å“ˆå›‰,...

In [35]:
print('idç‚º {} çš„ä½¿ç”¨è€…å‚³é€çš„è¨Šæ¯ ï¼š{}'.format(grouped_data.iloc[0][0],grouped_data.iloc[0][1]))

idç‚º 1000309370066644 çš„ä½¿ç”¨è€…å‚³é€çš„è¨Šæ¯ ï¼š['å˜¿', 'å“ˆå“ˆ', 'çˆ½è³ºä¸€å¤©å‡', 'ä½ æ²’æ”¾å“¦', 'é¡çœŸå‡', 'ç‚ºä»€éº¼', 'å“ˆå“ˆå“ˆå“ˆå“ˆ', 'ä¸ä¸€æ¨£å•¦', 'æˆ‘æ‰å‰›ä¾†', 'å“‡è¶…çŒ›', 'è¦ºå¾—é»˜å¥‘', 'è€¶', 'æ˜å¤©è¦ä¸Šèª²è¦ºå¾—é›£é', 'æˆ‘å»åˆ·å€‹ç‰™', 'å¥½äº†', 'å˜¿']

## set stop word

In [12]:
import jieba
import jieba.posseg as pseg
import jieba.analyse

stopwordset = set()
with open('jieba_txt/stop_words.txt','r',encoding='utf-8') as sw:
    for line in sw:
        stopwordset.add(line.strip('\n'))
        
chars = set(' abcdefghijklmnopqrstuvwxyz0123456789()?@ï¼Ÿ!$,~:.ã€‚ï¼Œ-_&=/ô€†¿\r\n')
for c in chars:
    stopwordset.add(c)

In [13]:
# stopwordset

## è¼‰å…¥åˆ†è©æª”åšè¨“ç·´

In [15]:
from gensim import models
import gensim
sentences = models.word2vec.LineSentence("../data/corpusSegDone.txt")
model = models.word2vec.Word2Vec(sentences, size=1, window=5, min_count=5, workers=1)

In [36]:
length = len(grouped_data)
length

5402

In [37]:
top10_vector = np.zeros(shape=(length,10))
jieba.set_dictionary('jieba_txt/dict.txt.big.txt')
jieba.load_userdict("jieba_txt/userdict.txt")
for i in range(length):
    frequency = defaultdict(int)
    for j in range(len(grouped_data.iloc[i][1])):
        seglist = jieba.cut((grouped_data.iloc[i][1])[j])
        texts = [word for word in seglist if word not in stopwordset]
        for text in texts:
            frequency[text] += 1
            
    a = sorted(frequency.items(), key=operator.itemgetter(1),reverse=True)
    row = np.zeros(shape=(1,10))
    r = 10 if len(a) >= 10 else len(a)
    
    for x in range(r):
        if a[x][0] in model:
            show = float(model[a[x][0]])
            row[0][x] = show
    top10_vector[i] = row

Building prefix dict from /home/tp6han/gp_new/jieba_txt/dict.txt.big.txt ...
Loading model from cache /tmp/jieba.u0ddb98113e9461fac3a7658d9e24e45e.cache
Loading model cost 1.654 seconds.
Prefix dict has been built succesfully.

In [38]:
top10_vector.shape

(5402, 10)

In [39]:
model.corpus_count

11144516

# k-means clustering

In [40]:
from sklearn import cluster, datasets

# KMeans æ¼”ç®—æ³•
kmeans_fit = cluster.KMeans(n_clusters = 3,random_state=1170).fit(top10_vector)

# å°å‡ºåˆ†ç¾¤çµæœ
cluster_labels = kmeans_fit.labels_
print("åˆ†ç¾¤çµæœ å‰10ï¼š")
print(cluster_labels[:10])
print("---")

åˆ†ç¾¤çµæœ å‰10ï¼š
[0 0 0 0 0 0 0 0 0 0]
---

In [41]:
len(cluster_labels)

5402

In [42]:
unique, counts = np.unique(cluster_labels, return_counts=True)
dict(zip(unique, counts))

{0: 4769, 1: 274, 2: 359}

In [43]:
cluster_done = grouped_data
cluster_done['category'] = cluster_labels

In [44]:
cluster_done = cluster_done.sort_values(by='category')
# t = t.drop('from',1)

In [45]:
cluster_done = cluster_done.reset_index(drop=True)
cluster_done.head()

,from,text,category
0,1000309370066644,"[å˜¿, å“ˆå“ˆ, çˆ½è³ºä¸€å¤©å‡, ä½ æ²’æ”¾å“¦, é¡çœŸå‡, ç‚ºä»€éº¼, å“ˆå“ˆå“ˆå“ˆå“ˆ, ä¸ä¸€æ¨£å•¦, æˆ‘æ‰...",0
1,273860868,"[ä½ å¥½, ä½ å¥½å•Š, ä½ åœ¨å¹¹å˜›å‘€0..0, æˆ‘éƒ½èº²åœ¨å®¶äº†, é¦™æ¸¯äººå“¦é¤“, å“ˆå“ˆ, é¢±é¢¨å¤©å¥½ç„¡èŠ...",0
2,273826628,"[é–‹ç™¼è€…é€Ÿé€Ÿç¾, æ²’é—œä¿‚, è½èªªé–‹ç™¼è€…æ˜¯å¸¥å“¥, å¯¶å‚‘ä½ æ€éº¼çœ‹, å“ˆå“ˆé˜¿å“ˆå“ˆ, æˆ‘æ˜¯å¥³ç”Ÿ, å¯¶...",0
3,273624498,"[å—¨, é«˜é›„, æ²’æ¬¸ ä½ æœ‰å–”, ......, å•Šä½ å“ªè£¡, é‚„å¥½?, æ¬¸å“ˆå“ˆå“ˆå“ˆ, æˆ‘è¦è·Ÿä½ ...",0
4,273025952,"[æ‘¸æˆ‘è‡ªå·±ä¸è¡Œå–” æˆ‘æœ‰ä½ æ²’æœ‰çš„å“ˆå“ˆå“ˆ, çŸ¥ ç”· è€Œ é€€, æˆ‘æ›¾ç¶“å¤¢åˆ°æˆ‘è¢«è­¦å¯Ÿå¼·å»è€¶ğŸ˜‚...",0

In [46]:
cluster_done.count()
# small_clustered = cluster_done[6000:6300].reset_index(drop=True)

from        5402
text        5402
category    5402
dtype: int64

In [47]:
cluster_done.to_csv('../data/k_means_result2.csv',encoding='utf-8-sig',index=False)

## make dictionary = { from : category }

In [24]:
from_category = {}
for i, row in cluster_done.iterrows():
    from_category[row['from']] = row['category']

In [25]:
len(from_category)

12691

## groupby room

In [27]:
df2 = df.copy()
df2 = df2.drop(['time','to'], axis=1)

In [28]:
df2['category'] = df2['from'].map(from_category)

In [29]:
df2.head()
df2 = df2.dropna(axis=0)
df2.count()

from        999961
text        999961
room        999961
category    999961
dtype: int64

In [30]:
df2.head()

,from,text,room,category
0,ud4097fbb4471c8c54512814bf0182e03,wd,8aee77a7-1d90-4d0f-b3c3-3f7b94a90e36,1
1,ud4097fbb4471c8c54512814bf0182e03,å—¨å—¨,fe214cfc-22d1-4736-92e7-d133190142b8,1
2,u96e826dccd3c9db56d684a5ddffc3154,è›¤ï¼Ÿ,fe214cfc-22d1-4736-92e7-d133190142b8,1
3,ud4097fbb4471c8c54512814bf0182e03,ä½ æ˜¯ç¬¬äºŒå€‹ä½¿ç”¨è€…ï¼±ï¼±,fe214cfc-22d1-4736-92e7-d133190142b8,1
4,u96e826dccd3c9db56d684a5ddffc3154,å“ˆå“ˆå“ˆå“ˆå“ˆå“ˆå“ˆ,fe214cfc-22d1-4736-92e7-d133190142b8,1

In [84]:
p1 = df2.groupby('room')['from'].aggregate(lambda x: set(x)).reset_index()
p2 = df2.groupby('room')['category'].aggregate(lambda x: set(x)).reset_index()
c = df2.groupby('room')['text'].agg(['count']).reset_index()
t = df2.groupby('room')['text'].apply(list).reset_index()

In [32]:
print('have {} {} rooms'.format(len(p1),len(p2)))

have 39423 39423 rooms

## new df  group by room

In [85]:
room_grouped = pd.concat([p1,p2['category'],c['count'],t['text']],axis=1)

In [86]:
room_grouped.columns

Index(['room', 'from', 'category', 'count', 'text'], dtype='object')

In [87]:
room_grouped.head()

,room,from,category,count,text
0,0000d3d1-cd74-4c6a-8ab6-8c9c0df594aa,"{1313316695368083, u84ff3587ce973343ca6328d688...",{2},2,"[å—¨å—¨, è¯·é—®æœ‰äººå—]"
1,000129e0-e9c9-4e51-8b7a-b782d220894e,{1127853807261849},{1},1,[å®‰]
2,0002fc8b-0951-47b0-9348-bf7decae9d93,"{955305891265054, 966587086804396}","{1, 2}",6,"[å—¨, ä½ å¥½å–”, ä½ å¥½å–”~, ç”·ç”Ÿ, ä½ å‘¢, me too]"
3,000418d0-779f-469a-ad5b-7fcfd6da4959,"{ua725d2fbddf188fb2e97f67bbd36d056, 1084323831...",{1},26,"[ä½ å¥½, å—¨, å—¨, ç”·, å¥³, ä½å“ªå‘€?, é«˜é›„, å°ä¸­, é‚£å¤šå¤§, 18\nä½ å‘¢, 21..."
4,00054188-59bc-49cf-aea2-e8ddd7057849,"{1192735997454971, 1157361747619580}",{1},162,"[å¦³å¥½, ä½ å¥½å•Šé˜¿, çœŸå‡çš„, é€™çœŸçš„å¾ˆé…·, å‡çš„, è¿ªå¡ä¸Šçœ‹åˆ°çš„å—, å°å•Š, ä½ æ˜¯æˆ‘ç¬¬ä¸€å€‹..."

## delete the row (room) which has only one user

In [88]:
for index, row in room_grouped.iterrows():
    l = len(row['from'])
    if l == 1 :
        room_grouped.drop(index, inplace=True)

In [89]:
room_grouped.count()

room        30535
from        30535
category    30535
count       30535
text        30535
dtype: int64

In [90]:
room_grouped.head()

,room,from,category,count,text
0,0000d3d1-cd74-4c6a-8ab6-8c9c0df594aa,"{1313316695368083, u84ff3587ce973343ca6328d688...",{2},2,"[å—¨å—¨, è¯·é—®æœ‰äººå—]"
2,0002fc8b-0951-47b0-9348-bf7decae9d93,"{955305891265054, 966587086804396}","{1, 2}",6,"[å—¨, ä½ å¥½å–”, ä½ å¥½å–”~, ç”·ç”Ÿ, ä½ å‘¢, me too]"
3,000418d0-779f-469a-ad5b-7fcfd6da4959,"{ua725d2fbddf188fb2e97f67bbd36d056, 1084323831...",{1},26,"[ä½ å¥½, å—¨, å—¨, ç”·, å¥³, ä½å“ªå‘€?, é«˜é›„, å°ä¸­, é‚£å¤šå¤§, 18\nä½ å‘¢, 21..."
4,00054188-59bc-49cf-aea2-e8ddd7057849,"{1192735997454971, 1157361747619580}",{1},162,"[å¦³å¥½, ä½ å¥½å•Šé˜¿, çœŸå‡çš„, é€™çœŸçš„å¾ˆé…·, å‡çš„, è¿ªå¡ä¸Šçœ‹åˆ°çš„å—, å°å•Š, ä½ æ˜¯æˆ‘ç¬¬ä¸€å€‹..."
5,0005ce30-1ab7-4b4f-8861-684a88e4f94b,"{1020089304775462, 954276064700164}",{1},175,"[æˆ‘ä¸çµ¦ã„©, æˆ‘ä¹Ÿæ²’ã„©ä½ å•Š, åˆ°è™•éƒ½æ˜¯ä»€éº¼éœ¸ä¸»çš„, é‚£æ˜¯ä»€éº¼, æ™šä¸Šä¸€ç›´è½åˆ°, ä¸çŸ¥é“, æ„Ÿ..."

### æ¯é–“èŠå¤©å®¤å¹³å‡èŠå¹¾å¥

In [98]:
room_grouped['count'].mean()

32.296905190764697

# è­‰æ˜åˆ†ç¾¤æœ‰æ„ç¾©

## 1. åŒä¸€ç¾¤çš„ä½¿ç”¨è€…å¹³å‡èŠå¤©å¥æ•¸æ¯”ä¸åŒç¾¤çš„ä½¿ç”¨è€…å¹³å‡èŠå¤©å¥æ•¸é‚„å¤š

In [117]:
same_cat_count = 0
all_text = 0
other_user = 0
other_all_text = 0
for index, row in room_grouped.iterrows():
    l = len(row['category'])
    t_len = len(row['text'])
# same cluster
    if l == 1:
        same_cat_count+=1
        all_text+=t_len
# different cluster
    else:
        other_user+=1
        other_all_text+=t_len

In [118]:
print('åŒä¸€ç¾¤çš„ä½¿ç”¨è€…æœ‰ {} çµ„, å¹³å‡èŠå¤©å¥æ•¸ : {}'.format(same_cat_count,all_text/same_cat_count))
print('ä¸åŒç¾¤çš„ä½¿ç”¨è€…æœ‰ {} çµ„, å¹³å‡èŠå¤©å¥æ•¸ : {}'.format(other_user ,other_all_text/other_user))

åŒä¸€ç¾¤çš„ä½¿ç”¨è€…æœ‰ 18187 çµ„, å¹³å‡èŠå¤©å¥æ•¸ : 41.353164348160774
ä¸åŒç¾¤çš„ä½¿ç”¨è€…æœ‰ 12348 çµ„, å¹³å‡èŠå¤©å¥æ•¸ : 18.95821185617104

## 2. èŠå¤©å¥æ•¸è¶…é 1000 å¥çš„ä½¿ç”¨è€…ï¼ŒåŒç¾¤çš„æœ‰å¹¾çµ„

In [123]:
gt1000 = room_grouped[room_grouped['count']>1000]

In [124]:
gt1000_same_cat = 0
for i, row in temp.iterrows():
    l = len(row['category'])
    if l == 1:
        gt1000_same_cat+=1

In [125]:
print('å…±æœ‰ {} çµ„ï¼ŒåŒé¡çš„æœ‰ {} çµ„'.format(len(gt1000),gt1000_same_cat))

å…±æœ‰ 29 çµ„ï¼ŒåŒé¡çš„æœ‰ 26 çµ„

In [105]:
import matplotlib.pyplot as plt
%matplotlib inline

In [22]:
t.to_csv('../data/k_means_result.csv',encoding='utf-8-sig')