In [1]:
import pandas as pd
import numpy as np
import operator
from collections import defaultdict

In [3]:
df = pd.read_csv(open('../data/processed.csv'), low_memory=False)
df.count()

ParserError: Error tokenizing data. C error: out of memory

In [4]:
df = df.dropna(axis=0)
df = df.reset_index(drop=True)
print('æœ‰{}ç­†å°è©±'.format(len(df)))

NameError: name 'df' is not defined

In [4]:
df.head(10)

,from,to,text,room,time
0,ud4097fbb4471c8c54512814bf0182e03,u84fa1e46e99df373e0f978c2ba274f9a,wd,8aee77a7-1d90-4d0f-b3c3-3f7b94a90e36,1.471640e+12
1,ud4097fbb4471c8c54512814bf0182e03,u96e826dccd3c9db56d684a5ddffc3154,å—¨å—¨,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12
2,u96e826dccd3c9db56d684a5ddffc3154,ud4097fbb4471c8c54512814bf0182e03,è›¤ï¼Ÿ,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12
3,ud4097fbb4471c8c54512814bf0182e03,u96e826dccd3c9db56d684a5ddffc3154,ä½ æ˜¯ç¬¬äºŒå€‹ä½¿ç”¨è€…ï¼±ï¼±,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12
4,u96e826dccd3c9db56d684a5ddffc3154,ud4097fbb4471c8c54512814bf0182e03,å“ˆå“ˆå“ˆå“ˆå“ˆå“ˆå“ˆ,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12
5,u96e826dccd3c9db56d684a5ddffc3154,ud4097fbb4471c8c54512814bf0182e03,é€™æ˜¯é™å®šç‰ˆå—,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12
6,ud4097fbb4471c8c54512814bf0182e03,u96e826dccd3c9db56d684a5ddffc3154,ä»€éº¼é™å®šç‰ˆï¼Ÿ,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12
7,u96e826dccd3c9db56d684a5ddffc3154,ud4097fbb4471c8c54512814bf0182e03,è³´é™å®šï¼Ÿ,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12
8,ud4097fbb4471c8c54512814bf0182e03,u96e826dccd3c9db56d684a5ddffc3154,ç­‰æˆ‘ç¡é†’å†ä¾†å¯«fbç‰ˆæœ¬,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12
9,u96e826dccd3c9db56d684a5ddffc3154,ud4097fbb4471c8c54512814bf0182e03,è³´æ‰èƒ½ç”¨ï¼Ÿ,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12

In [5]:
df.count()

from    28275265
to      28275265
text    28275265
room    28275265
time    28275265
dtype: int64

## Groupby by 'from' column

In [5]:
grouped_data = df.groupby('from')['text'].apply(list).reset_index()
print('have {} users'.format(len(grouped_data)))

have 52703 users

In [7]:
# df.loc[df['from'] == 'ud4097fbb4471c8c54512814bf0182e03']

In [6]:
grouped_data.head()
# type(grouped_data.text[0])

              from                                      text
0  100000074540167  [Udf65fb966d9b628dd5b7e88569af4339/å±¢å‹¸ä¸è½]
1  100000286958812                             [å“ˆå“ˆå“ˆ, ä¸€ç§’ä¹Ÿå¤ªèª‡å¼µ]
2  100002516292141                        [å› ç‚ºé‚„æ²’ä¸Šå¤§å­¸ ä¸çŸ¥é“ä»¥å¾Œæœƒæ€æ¨£]
3  100002919027218                                       [å—]
4  100003139568226                [å“ˆå˜, æˆ‘æ­£åœ¨åƒğŸ˜‚, ä½ æ˜¯å¤§å­¸ç”Ÿå—, å®‰å®‰, .]

In [7]:
print('idç‚º {} çš„ä½¿ç”¨è€…å‚³é€çš„è¨Šæ¯ ï¼š{}'.format(grouped_data.iloc[0][0],grouped_data.iloc[0][1]))

idç‚º 100000074540167 çš„ä½¿ç”¨è€…å‚³é€çš„è¨Šæ¯ ï¼š['Udf65fb966d9b628dd5b7e88569af4339/å±¢å‹¸ä¸è½']

In [ ]:
fileTrainSeg = []

In [ ]:
for i in range((len(df))):
    seglist = jieba.cut(df['text'][i])  
#     print(" ".join(seglist))
    fileTrainSeg.append([" ".join(list(jieba.cut(df['text'][i])))])

In [ ]:
fileSegWordDonePath ='../data/seperate_done.txt'
with open(fileSegWordDonePath,'w') as fW:
    for i in range(len(fileTrainSeg)):
        fW.write(fileTrainSeg[i][0])
        fW.write('\n')

## è¼‰å…¥åˆ†è©æª”åšè¨“ç·´

In [ ]:
from gensim.models import word2vec
import logging

def vec():

    logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)
    sentences = word2vec.Text8Corpus("../data/seperate_done.txt")
    model = word2vec.Word2Vec(sentences, size=10, window=5, min_count=5, workers=1)
    
    model.init_sims(replace=True)

    # Save our model.
    model.save("../data/corpusModel.bin")


    # To load a model.
    # model = word2vec.Word2Vec.load("your_model.bin")
    
vec()

In [9]:
model = word2vec.Word2Vec.load("../data/corpusModel.bin")

Starting training using file ../data/corpusSegDone.txt
Vocab size: 140924
Words in train file: 146129268

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [19]:
model.wv['é›»è…¦']

array([-0.52069503, -0.6918993 , -0.13431406,  0.48177987], dtype=float32)

## è¨­å®šåœç”¨è©

In [11]:
import jieba
import jieba.posseg as pseg
import jieba.analyse

stopwordset = set()
with open('jieba_txt/stop_words.txt','r',encoding='utf-8') as sw:
    for line in sw:
        stopwordset.add(line.strip('\n'))
        
chars = set(' abcdefghijklmnopqrstuvwxyz0123456789()?@ï¼Ÿ!$,~:.ã€‚ï¼Œ-_&=/ô€†¿\r\n')
for c in chars:
    stopwordset.add(c)

In [12]:
# stopwordset

In [13]:
length = len(grouped_data)
length

52703

In [22]:
top10_vector = np.zeros(shape=(length,10))
jieba.set_dictionary('jieba_txt/dict.txt.big.txt')
jieba.load_userdict("jieba_txt/userdict.txt")

logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

for i in range(length):
    frequency = defaultdict(int)
    for j in range(len(grouped_data.iloc[i][1])):
        seglist = jieba.cut((grouped_data.iloc[i][1])[j])
        texts = [word for word in seglist if word not in stopwordset]
        for text in texts:
            frequency[text] += 1
            
    a = sorted(frequency.items(), key=operator.itemgetter(1),reverse=True)
    row = np.zeros(shape=(1,10))
    r = 10 if len(a) >= 10 else len(a)
    
    if i%100 ==0 :
        print(i)
        
    for x in range(r):
        if a[x][0] in model:
            show = float(model[a[x][0]])
            row[0][x] = show
    top10_vector[i] = row

Building prefix dict from /home/tp6han/gp_new/jieba_txt/dict.txt.big.txt ...
2017-12-18 15:59:26,826 : DEBUG : Building prefix dict from /home/tp6han/gp_new/jieba_txt/dict.txt.big.txt ...
Loading model from cache /tmp/jieba.u0ddb98113e9461fac3a7658d9e24e45e.cache
2017-12-18 15:59:26,828 : DEBUG : Loading model from cache /tmp/jieba.u0ddb98113e9461fac3a7658d9e24e45e.cache
Loading model cost 1.558 seconds.
2017-12-18 15:59:28,386 : DEBUG : Loading model cost 1.558 seconds.
Prefix dict has been built succesfully.
2017-12-18 15:59:28,388 : DEBUG : Prefix dict has been built succesfully.

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15100
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000
17100
17200
17300
17400
17500
17600
17700
17800
17900
18000
18100
18200
18300
18400
18500
18600
18700
18800
18900
19000
19100
19200
19300
19400
19500
19600
19700
19800
19900
20000
20100
20200
20300
20400
20500
20600
20700
20800
20900
21000
21100
21200
21300
21400
21500
21600
21700
21800
21900
22000
22100
22200
22300
22400
22500
22600
22700
22800
22900
23000
23100
23200
23300
23400
23500
23600
23700
23800
23900
24000
24100
24200
24300
24400
24500
24600
24700
24800
24900
25000
25100
25200
25300
25400
25500
25600
25700
25800
25900
26000
26100
26200
26300
26400
26500
26600
26700
26800
26900
27000
27100
27200
27300
27400
27500
27600
27700
27800
27900
28000
28100
28200
28300
28400
28500
28600
28700
28800
28900
29000
29100
29200
29300
29400
29500
29600
29700
29800
29900
30000
30100
30200
30300
30400
30500
30600
30700
30800
30900
31000
31100
31200
31300
31400
31500
31600
31700
31800
31900
32000
32100
32200
32300
32400
32500
32600
32700
32800
32900
33000
33100
33200
33300
33400
33500
33600
33700
33800
33900
34000
34100
34200
34300
34400
34500
34600
34700
34800
34900
35000
35100
35200
35300
35400
35500
35600
35700
35800
35900
36000
36100
36200
36300
36400
36500
36600
36700
36800
36900
37000
37100
37200
37300
37400
37500
37600
37700
37800
37900
38000
38100
38200
38300
38400
38500
38600
38700
38800
38900
39000
39100
39200
39300
39400
39500
39600
39700
39800
39900
40000
40100
40200
40300
40400
40500
40600
40700
40800
40900
41000
41100
41200
41300
41400
41500
41600
41700
41800
41900
42000
42100
42200
42300
42400
42500
42600
42700
42800
42900
43000
43100
43200
43300
43400
43500
43600
43700
43800
43900
44000
44100
44200
44300
44400
44500
44600
44700
44800
44900
45000
45100
45200
45300
45400
45500
45600
45700
45800
45900
46000
46100
46200
46300
46400
46500
46600
46700
46800
46900
47000
47100
47200
47300
47400
47500
47600
47700
47800
47900
48000
48100
48200
48300
48400
48500
48600
48700
48800
48900
49000
49100
49200
49300
49400
49500
49600
49700
49800
49900
50000
50100
50200
50300
50400
50500
50600
50700
50800
50900
51000
51100
51200
51300
51400
51500
51600
51700
51800
51900
52000
52100
52200
52300
52400
52500
52600
52700

In [23]:
top10_vector.shape

(52703, 10)

In [25]:
top10_vector[1]

array([ 1.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.])

In [26]:
model.corpus_count

11708

# k-means clustering

In [40]:
from sklearn import cluster, datasets

# KMeans æ¼”ç®—æ³•
kmeans_fit = cluster.KMeans(n_clusters = 3,random_state=1170).fit(top10_vector)

# å°å‡ºåˆ†ç¾¤çµæœ
cluster_labels = kmeans_fit.labels_
print("åˆ†ç¾¤çµæœ å‰10ï¼š")
print(cluster_labels[:10])
print("---")

åˆ†ç¾¤çµæœ å‰10ï¼š
[0 0 0 0 0 0 0 0 0 0]
---

In [41]:
len(cluster_labels)

5402

In [42]:
unique, counts = np.unique(cluster_labels, return_counts=True)
dict(zip(unique, counts))

{0: 4769, 1: 274, 2: 359}

In [43]:
cluster_done = grouped_data
cluster_done['category'] = cluster_labels

In [44]:
cluster_done = cluster_done.sort_values(by='category')
# t = t.drop('from',1)

In [45]:
cluster_done = cluster_done.reset_index(drop=True)
cluster_done.head()

,from,text,category
0,1000309370066644,"[å˜¿, å“ˆå“ˆ, çˆ½è³ºä¸€å¤©å‡, ä½ æ²’æ”¾å“¦, é¡çœŸå‡, ç‚ºä»€éº¼, å“ˆå“ˆå“ˆå“ˆå“ˆ, ä¸ä¸€æ¨£å•¦, æˆ‘æ‰...",0
1,273860868,"[ä½ å¥½, ä½ å¥½å•Š, ä½ åœ¨å¹¹å˜›å‘€0..0, æˆ‘éƒ½èº²åœ¨å®¶äº†, é¦™æ¸¯äººå“¦é¤“, å“ˆå“ˆ, é¢±é¢¨å¤©å¥½ç„¡èŠ...",0
2,273826628,"[é–‹ç™¼è€…é€Ÿé€Ÿç¾, æ²’é—œä¿‚, è½èªªé–‹ç™¼è€…æ˜¯å¸¥å“¥, å¯¶å‚‘ä½ æ€éº¼çœ‹, å“ˆå“ˆé˜¿å“ˆå“ˆ, æˆ‘æ˜¯å¥³ç”Ÿ, å¯¶...",0
3,273624498,"[å—¨, é«˜é›„, æ²’æ¬¸ ä½ æœ‰å–”, ......, å•Šä½ å“ªè£¡, é‚„å¥½?, æ¬¸å“ˆå“ˆå“ˆå“ˆ, æˆ‘è¦è·Ÿä½ ...",0
4,273025952,"[æ‘¸æˆ‘è‡ªå·±ä¸è¡Œå–” æˆ‘æœ‰ä½ æ²’æœ‰çš„å“ˆå“ˆå“ˆ, çŸ¥ ç”· è€Œ é€€, æˆ‘æ›¾ç¶“å¤¢åˆ°æˆ‘è¢«è­¦å¯Ÿå¼·å»è€¶ğŸ˜‚...",0

In [46]:
cluster_done.count()
# small_clustered = cluster_done[6000:6300].reset_index(drop=True)

from        5402
text        5402
category    5402
dtype: int64

In [47]:
cluster_done.to_csv('../data/k_means_result2.csv',encoding='utf-8-sig',index=False)

## make dictionary = { from : category }

In [24]:
from_category = {}
for i, row in cluster_done.iterrows():
    from_category[row['from']] = row['category']

In [25]:
len(from_category)

12691

## groupby room

In [27]:
df2 = df.copy()
df2 = df2.drop(['time','to'], axis=1)

In [28]:
df2['category'] = df2['from'].map(from_category)

In [29]:
df2.head()
df2 = df2.dropna(axis=0)
df2.count()

from        999961
text        999961
room        999961
category    999961
dtype: int64

In [30]:
df2.head()

,from,text,room,category
0,ud4097fbb4471c8c54512814bf0182e03,wd,8aee77a7-1d90-4d0f-b3c3-3f7b94a90e36,1
1,ud4097fbb4471c8c54512814bf0182e03,å—¨å—¨,fe214cfc-22d1-4736-92e7-d133190142b8,1
2,u96e826dccd3c9db56d684a5ddffc3154,è›¤ï¼Ÿ,fe214cfc-22d1-4736-92e7-d133190142b8,1
3,ud4097fbb4471c8c54512814bf0182e03,ä½ æ˜¯ç¬¬äºŒå€‹ä½¿ç”¨è€…ï¼±ï¼±,fe214cfc-22d1-4736-92e7-d133190142b8,1
4,u96e826dccd3c9db56d684a5ddffc3154,å“ˆå“ˆå“ˆå“ˆå“ˆå“ˆå“ˆ,fe214cfc-22d1-4736-92e7-d133190142b8,1

In [84]:
p1 = df2.groupby('room')['from'].aggregate(lambda x: set(x)).reset_index()
p2 = df2.groupby('room')['category'].aggregate(lambda x: set(x)).reset_index()
c = df2.groupby('room')['text'].agg(['count']).reset_index()
t = df2.groupby('room')['text'].apply(list).reset_index()

In [32]:
print('have {} {} rooms'.format(len(p1),len(p2)))

have 39423 39423 rooms

## new df  group by room

In [85]:
room_grouped = pd.concat([p1,p2['category'],c['count'],t['text']],axis=1)

In [86]:
room_grouped.columns

Index(['room', 'from', 'category', 'count', 'text'], dtype='object')

In [87]:
room_grouped.head()

,room,from,category,count,text
0,0000d3d1-cd74-4c6a-8ab6-8c9c0df594aa,"{1313316695368083, u84ff3587ce973343ca6328d688...",{2},2,"[å—¨å—¨, è¯·é—®æœ‰äººå—]"
1,000129e0-e9c9-4e51-8b7a-b782d220894e,{1127853807261849},{1},1,[å®‰]
2,0002fc8b-0951-47b0-9348-bf7decae9d93,"{955305891265054, 966587086804396}","{1, 2}",6,"[å—¨, ä½ å¥½å–”, ä½ å¥½å–”~, ç”·ç”Ÿ, ä½ å‘¢, me too]"
3,000418d0-779f-469a-ad5b-7fcfd6da4959,"{ua725d2fbddf188fb2e97f67bbd36d056, 1084323831...",{1},26,"[ä½ å¥½, å—¨, å—¨, ç”·, å¥³, ä½å“ªå‘€?, é«˜é›„, å°ä¸­, é‚£å¤šå¤§, 18\nä½ å‘¢, 21..."
4,00054188-59bc-49cf-aea2-e8ddd7057849,"{1192735997454971, 1157361747619580}",{1},162,"[å¦³å¥½, ä½ å¥½å•Šé˜¿, çœŸå‡çš„, é€™çœŸçš„å¾ˆé…·, å‡çš„, è¿ªå¡ä¸Šçœ‹åˆ°çš„å—, å°å•Š, ä½ æ˜¯æˆ‘ç¬¬ä¸€å€‹..."

## delete the row (room) which has only one user

In [88]:
for index, row in room_grouped.iterrows():
    l = len(row['from'])
    if l == 1 :
        room_grouped.drop(index, inplace=True)

In [89]:
room_grouped.count()

room        30535
from        30535
category    30535
count       30535
text        30535
dtype: int64

In [90]:
room_grouped.head()

,room,from,category,count,text
0,0000d3d1-cd74-4c6a-8ab6-8c9c0df594aa,"{1313316695368083, u84ff3587ce973343ca6328d688...",{2},2,"[å—¨å—¨, è¯·é—®æœ‰äººå—]"
2,0002fc8b-0951-47b0-9348-bf7decae9d93,"{955305891265054, 966587086804396}","{1, 2}",6,"[å—¨, ä½ å¥½å–”, ä½ å¥½å–”~, ç”·ç”Ÿ, ä½ å‘¢, me too]"
3,000418d0-779f-469a-ad5b-7fcfd6da4959,"{ua725d2fbddf188fb2e97f67bbd36d056, 1084323831...",{1},26,"[ä½ å¥½, å—¨, å—¨, ç”·, å¥³, ä½å“ªå‘€?, é«˜é›„, å°ä¸­, é‚£å¤šå¤§, 18\nä½ å‘¢, 21..."
4,00054188-59bc-49cf-aea2-e8ddd7057849,"{1192735997454971, 1157361747619580}",{1},162,"[å¦³å¥½, ä½ å¥½å•Šé˜¿, çœŸå‡çš„, é€™çœŸçš„å¾ˆé…·, å‡çš„, è¿ªå¡ä¸Šçœ‹åˆ°çš„å—, å°å•Š, ä½ æ˜¯æˆ‘ç¬¬ä¸€å€‹..."
5,0005ce30-1ab7-4b4f-8861-684a88e4f94b,"{1020089304775462, 954276064700164}",{1},175,"[æˆ‘ä¸çµ¦ã„©, æˆ‘ä¹Ÿæ²’ã„©ä½ å•Š, åˆ°è™•éƒ½æ˜¯ä»€éº¼éœ¸ä¸»çš„, é‚£æ˜¯ä»€éº¼, æ™šä¸Šä¸€ç›´è½åˆ°, ä¸çŸ¥é“, æ„Ÿ..."

### æ¯é–“èŠå¤©å®¤å¹³å‡èŠå¹¾å¥

In [98]:
room_grouped['count'].mean()

32.296905190764697

# è­‰æ˜åˆ†ç¾¤æœ‰æ„ç¾©

## 1. åŒä¸€ç¾¤çš„ä½¿ç”¨è€…å¹³å‡èŠå¤©å¥æ•¸æ¯”ä¸åŒç¾¤çš„ä½¿ç”¨è€…å¹³å‡èŠå¤©å¥æ•¸é‚„å¤š

In [117]:
same_cat_count = 0
all_text = 0
other_user = 0
other_all_text = 0
for index, row in room_grouped.iterrows():
    l = len(row['category'])
    t_len = len(row['text'])
# same cluster
    if l == 1:
        same_cat_count+=1
        all_text+=t_len
# different cluster
    else:
        other_user+=1
        other_all_text+=t_len

In [118]:
print('åŒä¸€ç¾¤çš„ä½¿ç”¨è€…æœ‰ {} çµ„, å¹³å‡èŠå¤©å¥æ•¸ : {}'.format(same_cat_count,all_text/same_cat_count))
print('ä¸åŒç¾¤çš„ä½¿ç”¨è€…æœ‰ {} çµ„, å¹³å‡èŠå¤©å¥æ•¸ : {}'.format(other_user ,other_all_text/other_user))

åŒä¸€ç¾¤çš„ä½¿ç”¨è€…æœ‰ 18187 çµ„, å¹³å‡èŠå¤©å¥æ•¸ : 41.353164348160774
ä¸åŒç¾¤çš„ä½¿ç”¨è€…æœ‰ 12348 çµ„, å¹³å‡èŠå¤©å¥æ•¸ : 18.95821185617104

## 2. èŠå¤©å¥æ•¸è¶…é 1000 å¥çš„ä½¿ç”¨è€…ï¼ŒåŒç¾¤çš„æœ‰å¹¾çµ„

In [123]:
gt1000 = room_grouped[room_grouped['count']>1000]

In [124]:
gt1000_same_cat = 0
for i, row in temp.iterrows():
    l = len(row['category'])
    if l == 1:
        gt1000_same_cat+=1

In [125]:
print('å…±æœ‰ {} çµ„ï¼ŒåŒé¡çš„æœ‰ {} çµ„'.format(len(gt1000),gt1000_same_cat))

å…±æœ‰ 29 çµ„ï¼ŒåŒé¡çš„æœ‰ 26 çµ„

In [105]:
import matplotlib.pyplot as plt
%matplotlib inline

In [22]:
t.to_csv('../data/k_means_result.csv',encoding='utf-8-sig')