In [1]:
import pandas as pd
import numpy as np
import operator
from collections import defaultdict

In [2]:
df = pd.read_csv(open('../data/df_million.csv'), low_memory=False)
df = df[df['text'].str.contains("00leave")== False]
df = df.dropna(axis=0)
df = df.drop('Unnamed: 0', 1)
print('有{}筆對話'.format(len(df)))

有999961筆對話

In [3]:
df.count()

from    999961
to      999961
text    999961
room    999961
time    999961
dtype: int64

In [4]:
df = df.reset_index(drop=True)

In [5]:
df.head()

,from,to,text,room,time
0,ud4097fbb4471c8c54512814bf0182e03,u84fa1e46e99df373e0f978c2ba274f9a,wd,8aee77a7-1d90-4d0f-b3c3-3f7b94a90e36,1.471640e+12
1,ud4097fbb4471c8c54512814bf0182e03,u96e826dccd3c9db56d684a5ddffc3154,嗨嗨,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12
2,u96e826dccd3c9db56d684a5ddffc3154,ud4097fbb4471c8c54512814bf0182e03,蛤？,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12
3,ud4097fbb4471c8c54512814bf0182e03,u96e826dccd3c9db56d684a5ddffc3154,你是第二個使用者ＱＱ,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12
4,u96e826dccd3c9db56d684a5ddffc3154,ud4097fbb4471c8c54512814bf0182e03,哈哈哈哈哈哈哈,fe214cfc-22d1-4736-92e7-d133190142b8,1.471643e+12

## Groupby by 'from' column

In [6]:
grouped_data = df.groupby('from')['text'].apply(list).reset_index()
print('have {} users'.format(len(grouped_data)))

have 12691 users

In [7]:
# df.loc[df['from'] == 'ud4097fbb4471c8c54512814bf0182e03']

In [8]:
grouped_data.head()
# type(grouped_data.text[0])

               from                                               text
0  1000080793444348  [嗨嗨, 安安, 幾歲呢, 我也是, 😂😂, 我男生, 嗨嗨, 我男生😂😂, 嗨嗨, 欸欸不...
1  1000309370066644  [哈哈哈哈哈好酷哦, 你好, 媽妳在哪, 矮額, 嗨, 覺得酷, 哈哈哈哈, 我在上, 生物...
2  1000515923404164  [安安, 看dcard 的, 真假, 高中生😂😂, 你大幾？, 女生😂😂, 嗨, 嗨, 哈哈...
3  1000617956728437  [Hi, 你好, 放假囉, 我畢業一段時間了😂, Yup, 看完覺得有趣, 對啊。\n不過我...
4  1000669336711180  [哈囉, 剛剛在Dcard看到的, 好酷哦, 是啊不是只有大學, 才有Dcard, 我現在在...

In [9]:
print('id為 {} 的使用者傳送的訊息 ：{}'.format(grouped_data.iloc[0][0],grouped_data.iloc[0][1]))

id為 1000080793444348 的使用者傳送的訊息 ：['嗨嗨', '安安', '幾歲呢', '我也是', '😂😂', '我男生', '嗨嗨', '我男生😂😂', '嗨嗨', '欸欸不在嗎？', '嗨嗨', '？？', '安安', '男17', '喔喔ok', '😂😂', '嗯嗯', '對', '哈哈😂😂', '一樣吧', '哪裡人呀？', '哇嗚唯一不靠海', '嗨嗨', '我高二男生喔😂😂', '哈哈', '掰掰', '嗨嗨', '有人嗎？', '嗨嗨', '嗨嗨', '什麼？？', '😂😂', '我高二男生@@', '不好玩', '換了班換了人', '二類', 'XD', '怎麼？？', '過來人？', '我還有頭髮的', '😃😃', '噗ㄘ', '不是和尚啦', '不是', '嗨嗨', '安安', '高二男生喔😂😂', '哈哈', '那掰掰', '自己說', '噗ㄘ', '掰掰', '？？', '欸欸？', '安安', '高二男生喔😂😂', '……', '好喔', '嗨嗨', '你好', '我是男生', '啊啊好巧喔', 'XD', '欸欸？', '😶😶😶', '？', '嗯嗯', '加油', '嗨嗨', '那掰掰吧😂', '嗨嗨', '嗨嗨', '男生😶', '我？', '我說我男生', '嗨嗨', '我男生😶', '覺得這裡有點像woo了😂😂', 'Wootalk阿跟這個差不多', '不過裡面有90%的機率是男的', '好無聊']

## set stop word

In [10]:
import jieba
import jieba.posseg as pseg
import jieba.analyse

stopwordset = set()
with open('jieba_txt/stop_words.txt','r',encoding='utf-8') as sw:
    for line in sw:
        stopwordset.add(line.strip('\n'))
        
chars = set(' abcdefghijklmnopqrstuvwxyz0123456789()?@？!$,~:.。，-_&=/􀆿\r\n')
for c in chars:
    stopwordset.add(c)

In [11]:
# stopwordset

## 載入分詞檔做訓練

In [12]:
from gensim import models
import gensim
sentences = models.word2vec.LineSentence("corpusSegDone.txt")
model = models.word2vec.Word2Vec(sentences, size=1, window=5, min_count=5, workers=1)

In [13]:
length = len(grouped_data)
length

12691

In [14]:
top10_vector = np.zeros(shape=(length,10))
jieba.set_dictionary('jieba_txt/dict.txt.big.txt')
jieba.load_userdict("jieba_txt/userdict.txt")
for i in range(length):
    frequency = defaultdict(int)
    for j in range(len(grouped_data.iloc[i][1])):
        seglist = jieba.cut((grouped_data.iloc[i][1])[j])
        texts = [word for word in seglist if word not in stopwordset]
        for text in texts:
            frequency[text] += 1
    a = sorted(frequency.items(), key=operator.itemgetter(1),reverse=True)
#     print(a)
    row = np.zeros(shape=(1,10))
    
    r = 10 if len(a) >= 10 else len(a)
    for x in range(r):
        if a[x][0] in model:
            show = float(model[a[x][0]])
            row[0][x] = show
    top10_vector[i] = row

Building prefix dict from /home/tp6han/gp_new/jieba_txt/dict.txt.big.txt ...
Loading model from cache /tmp/jieba.u0ddb98113e9461fac3a7658d9e24e45e.cache
Loading model cost 1.506 seconds.
Prefix dict has been built succesfully.

In [15]:
top10_vector.shape

(12691, 10)

In [16]:
model.corpus_count

137045

# k-means clustering

In [17]:
from sklearn import cluster, datasets

# KMeans 演算法
kmeans_fit = cluster.KMeans(n_clusters = 3,random_state=1170).fit(top10_vector)

# 印出分群結果
cluster_labels = kmeans_fit.labels_
print("分群結果 前10：")
print(cluster_labels[:10])
print("---")

分群結果 前10：
[1 2 2 2 1 1 2 1 1 2]
---

In [18]:
len(cluster_labels)

12691

In [19]:
unique, counts = np.unique(cluster_labels, return_counts=True)
dict(zip(unique, counts))

{0: 2442, 1: 6220, 2: 4029}

In [20]:
cluster_done = grouped_data
cluster_done['category'] = cluster_labels

In [21]:
cluster_done = cluster_done.sort_values(by='category')
# t = t.drop('from',1)

In [22]:
cluster_done = cluster_done.reset_index(drop=True)
cluster_done.head()

                                from                       text  category
0  uffe07f79a7737e6f734bcbd67c264d63  [哈囉, ？, 什麼啊, 嗨咿, ？, 說什麼？]         0
1                    971466416314924              [嗨, 哈囉哈囉, 嗨～]         0
2                   1136367929790440                   [真人, 上課]         0
3                    971001479688980                        [安]         0
4                   1136634969718180              [hi, 約個雕, 88]         0

In [23]:
cluster_done.count()
# small_clustered = cluster_done[6000:6300].reset_index(drop=True)

from        12691
text        12691
category    12691
dtype: int64

## make dictionary = { from : category }

In [24]:
from_category = {}
for i, row in cluster_done.iterrows():
    from_category[row['from']] = row['category']

In [25]:
len(from_category)

12691

In [26]:
from_category['u96e826dccd3c9db56d684a5ddffc3154']

1

## groupby room

In [27]:
df2 = df.copy()
df2 = df2.drop(['time','to'], axis=1)

In [28]:
df2['category'] = df2['from'].map(from_category)

In [29]:
df2.head()
df2 = df2.dropna(axis=0)
df2.count()

from        999961
text        999961
room        999961
category    999961
dtype: int64

In [30]:
df2.head()

,from,text,room,category
0,ud4097fbb4471c8c54512814bf0182e03,wd,8aee77a7-1d90-4d0f-b3c3-3f7b94a90e36,1
1,ud4097fbb4471c8c54512814bf0182e03,嗨嗨,fe214cfc-22d1-4736-92e7-d133190142b8,1
2,u96e826dccd3c9db56d684a5ddffc3154,蛤？,fe214cfc-22d1-4736-92e7-d133190142b8,1
3,ud4097fbb4471c8c54512814bf0182e03,你是第二個使用者ＱＱ,fe214cfc-22d1-4736-92e7-d133190142b8,1
4,u96e826dccd3c9db56d684a5ddffc3154,哈哈哈哈哈哈哈,fe214cfc-22d1-4736-92e7-d133190142b8,1

In [84]:
p1 = df2.groupby('room')['from'].aggregate(lambda x: set(x)).reset_index()
p2 = df2.groupby('room')['category'].aggregate(lambda x: set(x)).reset_index()
c = df2.groupby('room')['text'].agg(['count']).reset_index()
t = df2.groupby('room')['text'].apply(list).reset_index()

In [32]:
print('have {} {} rooms'.format(len(p1),len(p2)))

have 39423 39423 rooms

## new df  group by room

In [85]:
room_grouped = pd.concat([p1,p2['category'],c['count'],t['text']],axis=1)

In [86]:
room_grouped.columns

Index(['room', 'from', 'category', 'count', 'text'], dtype='object')

In [87]:
room_grouped.head()

,room,from,category,count,text
0,0000d3d1-cd74-4c6a-8ab6-8c9c0df594aa,"{1313316695368083, u84ff3587ce973343ca6328d688...",{2},2,"[嗨嗨, 请问有人吗]"
1,000129e0-e9c9-4e51-8b7a-b782d220894e,{1127853807261849},{1},1,[安]
2,0002fc8b-0951-47b0-9348-bf7decae9d93,"{955305891265054, 966587086804396}","{1, 2}",6,"[嗨, 你好喔, 你好喔~, 男生, 你呢, me too]"
3,000418d0-779f-469a-ad5b-7fcfd6da4959,"{ua725d2fbddf188fb2e97f67bbd36d056, 1084323831...",{1},26,"[你好, 嗨, 嗨, 男, 女, 住哪呀?, 高雄, 台中, 那多大, 18\n你呢, 21..."
4,00054188-59bc-49cf-aea2-e8ddd7057849,"{1192735997454971, 1157361747619580}",{1},162,"[妳好, 你好啊阿, 真假的, 這真的很酷, 假的, 迪卡上看到的嗎, 對啊, 你是我第一個..."

## delete the row (room) which has only one user

In [88]:
for index, row in room_grouped.iterrows():
    l = len(row['from'])
    if l == 1 :
        room_grouped.drop(index, inplace=True)

In [89]:
room_grouped.count()

room        30535
from        30535
category    30535
count       30535
text        30535
dtype: int64

In [90]:
room_grouped.head()

,room,from,category,count,text
0,0000d3d1-cd74-4c6a-8ab6-8c9c0df594aa,"{1313316695368083, u84ff3587ce973343ca6328d688...",{2},2,"[嗨嗨, 请问有人吗]"
2,0002fc8b-0951-47b0-9348-bf7decae9d93,"{955305891265054, 966587086804396}","{1, 2}",6,"[嗨, 你好喔, 你好喔~, 男生, 你呢, me too]"
3,000418d0-779f-469a-ad5b-7fcfd6da4959,"{ua725d2fbddf188fb2e97f67bbd36d056, 1084323831...",{1},26,"[你好, 嗨, 嗨, 男, 女, 住哪呀?, 高雄, 台中, 那多大, 18\n你呢, 21..."
4,00054188-59bc-49cf-aea2-e8ddd7057849,"{1192735997454971, 1157361747619580}",{1},162,"[妳好, 你好啊阿, 真假的, 這真的很酷, 假的, 迪卡上看到的嗎, 對啊, 你是我第一個..."
5,0005ce30-1ab7-4b4f-8861-684a88e4f94b,"{1020089304775462, 954276064700164}",{1},175,"[我不給ㄩ, 我也沒ㄩ你啊, 到處都是什麼霸主的, 那是什麼, 晚上一直聽到, 不知道, 感..."

### 每間聊天室平均聊幾句

In [98]:
room_grouped['count'].mean()

32.296905190764697

# 證明分群有意義

## 1. 同一群的使用者平均聊天句數比不同群的使用者平均聊天句數還多

In [117]:
same_cat_count = 0
all_text = 0
other_user = 0
other_all_text = 0
for index, row in room_grouped.iterrows():
    l = len(row['category'])
    t_len = len(row['text'])
# same cluster
    if l == 1:
        same_cat_count+=1
        all_text+=t_len
# different cluster
    else:
        other_user+=1
        other_all_text+=t_len

In [118]:
print('同一群的使用者有 {} 組, 平均聊天句數 : {}'.format(same_cat_count,all_text/same_cat_count))
print('不同群的使用者有 {} 組, 平均聊天句數 : {}'.format(other_user ,other_all_text/other_user))

同一群的使用者有 18187 組, 平均聊天句數 : 41.353164348160774
不同群的使用者有 12348 組, 平均聊天句數 : 18.95821185617104

## 2. 聊天句數超過 1000 句的使用者，同群的有幾組

In [123]:
gt1000 = room_grouped[room_grouped['count']>1000]

In [124]:
gt1000_same_cat = 0
for i, row in temp.iterrows():
    l = len(row['category'])
    if l == 1:
        gt1000_same_cat+=1

In [125]:
print('共有 {} 組，同類的有 {} 組'.format(len(gt1000),gt1000_same_cat))

共有 29 組，同類的有 26 組

In [105]:
import matplotlib.pyplot as plt
%matplotlib inline

In [22]:
t.to_csv('../data/k_means_result.csv',encoding='utf-8-sig')